<div class="form-group">
    <center>
        <div class='logo_app'></div>
        <h1>Preguntame algo</h1>
    </center>
</div>

<center>
    <div class='contenedor'>
    <ul class="nav nav-pills nav-justified">
        <li role="presentation">
            <%= link_to 'Preguntame', ask_home_path %>
        </li>
        <li role="presentation", class="active">
            <%= link_to 'Versus', ask_versus_path %>
        </li>
    </ul>
</div>
</center>

<center>
    <div class="container-fluid">
        <%= form_tag ask_versus_path, class: "versus" do %>

        <div class='contenedor'>
            <div class="form-group">
                <%= text_area_tag :question1, nil, class: "question1 form-control",placeholder: "Escribe el primer parámetro"  %>
                <br>
                <p>V/S
                </p>
                <%= text_area_tag :question2, nil, class: "question2 form-control",placeholder: "Escribe el segundo parámetro"  %>
            </div>
            <div class="form-group">
                <%= submit_tag "Preguntame!", class: "form-control btn btn-primary" %><br><br>
            </div>
            <% end %>

        </div>

        <div class='contenedor'>
          <div class='row'>
            <div class="error"></div>
              <div class="col-md-6">
                <div class="response response1"></div>
              </div>
              <div class="col-md-6">
                <div class="response response2"></div>
              </div>
            </div>
            <div class="response response3"></div>
            <center></center>
        </div>
    </div>
</center>
